# Default ignored files
/../../International Trade Fair Ltd./.idea/shelf/
/../../International Trade Fair Ltd./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../International Trade Fair Ltd./.idea/httpRequests/
# Datasource local storage ignored files
/../../International Trade Fair Ltd./.idea/dataSources/
/../../International Trade Fair Ltd./.idea/dataSources.local.xml
